In [1]:
import pandas as pd
import numpy as np

In [2]:
match=pd.read_csv('Matches_Result.csv')

In [3]:
ball=pd.read_csv('Ball_by_Ball.csv')

In [4]:
match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [5]:
ball.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [6]:
ball=ball.merge(match[['ID','Team1','Team2','WinningTeam']],how='left')

In [7]:
total_score=ball.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [8]:
total_score

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1923  1312198        2        193
1924  1312199        1        157
1925  1312199        2        161
1926  1312200        1        130
1927  1312200        2        133

[1928 rows x 3 columns]

In [9]:
total_score=total_score[total_score['innings']==1]

In [10]:
match_df=match.merge(total_score[['ID','total_run']],left_on='ID',right_on='ID')

In [11]:
match_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,157

In [12]:
match_df['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [13]:
teams=['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab']

In [14]:
match_df['Team1']=match_df['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['Team2']=match_df['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['Team1']=match_df['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['Team2']=match_df['Team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['Team1']=match_df['Team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['Team2']=match_df['Team2'].str.replace('Gujarat Lions','Gujarat Titans')

In [15]:
match_df=match_df[match_df['Team1'].isin(teams)]
match_df=match_df[match_df['Team2'].isin(teams)]

In [16]:
match_df.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'total_run'],
      dtype='object')

In [17]:
match_df=match_df[['ID','City','total_run']]

In [18]:
d_df=match_df.merge(ball,on='ID')

In [19]:
d_df=d_df[d_df['innings']==2]

In [20]:
d_df.shape

(98901, 22)

In [21]:
d_df.head()

,ID,City,total_run_x,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,...,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,Team1,Team2,WinningTeam
120,1312200,Ahmedabad,130,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans
121,1312200,Ahmedabad,130,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans
122,1312200,Ahmedabad,130,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,...,1,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans
123,1312200,Ahmedabad,130,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans
124,1312200,Ahmedabad,130,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans

In [22]:
# Convert to numeric (non-convertible values will be NaN)
d_df['total_run_y'] = pd.to_numeric(d_df['total_run_y'], errors='coerce')

# Optionally handle NaNs
d_df['total_run_y'] = d_df['total_run_y'].fillna(0)

# Now you can safely compute the cumulative sum
d_df['current_score'] = d_df.groupby('ID')['total_run_y'].cumsum()

In [23]:
d_df.head(25)

,ID,City,total_run_x,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,...,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,Team1,Team2,WinningTeam,current_score
120,1312200,Ahmedabad,130,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,0
121,1312200,Ahmedabad,130,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,0
122,1312200,Ahmedabad,130,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,1
123,1312200,Ahmedabad,130,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,1
124,1312200,Ahmedabad,130,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,1
125,1312200,Ahmedabad,130,2,0,6,Shubman Gill,TA Boult,WP Saha,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,5
126,1312200,Ahmedabad,130,2,1,1,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,5
127,1312200,Ahmedabad,130,2,1,2,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,9
128,1312200,Ahmedabad,130,2,1,3,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,9
129,1312200,Ahmedabad,130,2,1,4,WP Saha,M Prasidh Krishna,Shubman Gill,NaN,...,0,1,WP Saha,bowled,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,9
130,1312200,Ahmedabad,130,2,1,5,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,11
131,1312200,Ahmedabad,130,2,1,6,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,11
132,1312200,Ahmedabad,130,2,2,1,Shubman Gill,TA Boult,MS Wade,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,11
133,1312200,Ahmedabad,130,2,2,2,Shubman Gill,TA Boult,MS Wade,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,11
134,1312200,Ahmedabad,130,2,2,3,Shubman Gill,TA Boult,MS Wade,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,11
135,1312200,Ahmedabad,130,2,2,4,Shubman Gill,TA Boult,MS Wade,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,11
136,1312200,Ahmedabad,130,2,2,5,Shubman Gill,TA Boult,MS Wade,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,11
137,1312200,Ahmedabad,130,2,2,6,Shubman Gill,TA Boult,MS Wade,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,11
138,1312200,Ahmedabad,130,2,3,1,MS Wade,M Prasidh Krishna,Shubman Gill,wides,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,16
139,1312200,Ahmedabad,130,2,3,2,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,16
140,1312200,Ahmedabad,130,2,3,3,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,16
141,1312200,Ahmedabad,130,2,3,4,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,16
142,1312200,Ahmedabad,130,2,3,5,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,22
143,1312200,Ahmedabad,130,2,3,6,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,22
144,1312200,Ahmedabad,130,2,3,7,MS Wade,M Prasidh Krishna,Shubman Gill,NaN,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Gujarat Titans,22

In [24]:
d_df['runs_left']=d_df['total_run_x']-d_df['current_score'] + 1

In [25]:
d_df['ballnumber'].value_counts()

ballnumber
1     16116
2     16038
3     15962
4     15887
5     15789
6     15695
7      2874
8       461
9        70
10        9
Name: count, dtype: int64

In [26]:
d_df['balls_left']=120-(d_df['overs']*6+d_df['ballnumber'])

In [27]:
# Convert to numeric: True/False will become 1/0, respectively
d_df['isWicketDelivery'] = d_df['isWicketDelivery'].astype(int)

# Now you can safely perform cumulative sum
d_df['wickets'] = 10 - d_df.groupby('ID')['isWicketDelivery'].cumsum()

In [28]:
d_df['crr']=(d_df['current_score']*6)/(120-d_df['balls_left'])

In [29]:
d_df['rrr']=(d_df['runs_left']*6)/d_df['balls_left']

In [30]:
d_df.columns

Index(['ID', 'City', 'total_run_x', 'innings', 'overs', 'ballnumber', 'batter',
       'bowler', 'non-striker', 'extra_type', 'batsman_run', 'extras_run',
       'total_run_y', 'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam', 'Team1', 'Team2', 'WinningTeam',
       'current_score', 'runs_left', 'balls_left', 'wickets', 'crr', 'rrr'],
      dtype='object')

In [31]:
d_df.tail()

,ID,City,total_run_x,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,...,BattingTeam,Team1,Team2,WinningTeam,current_score,runs_left,balls_left,wickets,crr,rrr
205076,335982,Bangalore,222,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,...,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,80,143,31,1,5.393258,27.677419
205077,335982,Bangalore,222,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,...,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142,30,1,5.400000,28.400000
205078,335982,Bangalore,222,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,...,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142,29,1,5.340659,29.379310
205079,335982,Bangalore,222,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,...,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141,29,1,5.406593,29.172414
205080,335982,Bangalore,222,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,...,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141,28,0,5.347826,30.214286

In [32]:
d_df['BowlingTeam'] = d_df.apply(
    lambda row: row['Team2'] if row['BattingTeam'] == row['Team1'] else row['Team1'],
    axis=1
)

In [33]:
def result(row):
    return 1 if row['BattingTeam']==row['WinningTeam'] else 0

In [34]:
d_df['result']=d_df.apply(result,axis=1)

In [35]:
d_df.columns

Index(['ID', 'City', 'total_run_x', 'innings', 'overs', 'ballnumber', 'batter',
       'bowler', 'non-striker', 'extra_type', 'batsman_run', 'extras_run',
       'total_run_y', 'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam', 'Team1', 'Team2', 'WinningTeam',
       'current_score', 'runs_left', 'balls_left', 'wickets', 'crr', 'rrr',
       'BowlingTeam', 'result'],
      dtype='object')

In [36]:
final=d_df[['BattingTeam','BowlingTeam','City','runs_left','balls_left','wickets','total_run_x','crr','rrr','result']]

In [37]:
final=final.sample(final.shape[0])

In [38]:
final.isnull().sum()

BattingTeam       0
BowlingTeam       0
City           6012
runs_left         0
balls_left        0
wickets           0
total_run_x       0
crr               0
rrr              11
result            0
dtype: int64

In [39]:
final.dropna(inplace=True)

In [40]:
final=final[final['balls_left']!=0]

In [41]:
X=final.iloc[:,:-1]
y=final.iloc[:,-1]

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [43]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [44]:
trf=ColumnTransformer(transformers=[
    ('ohe',OneHotEncoder(),['BattingTeam','BowlingTeam','City'])
],remainder='passthrough')

In [45]:
pipe=Pipeline([
    ('trans',trf),
    ('reg',LogisticRegression(solver='liblinear'))
])

In [46]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('trans',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe', OneHotEncoder(),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'City'])])),
                ('reg', LogisticRegression(solver='liblinear'))])

In [47]:
y_pred=pipe.predict(x_test)

In [48]:
accuracy_score(y_test,y_pred)

0.8198412269806125

In [49]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [50]:
teams

['Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 'Delhi Capitals',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants',
 'Kolkata Knight Riders',
 'Punjab Kings',
 'Mumbai Indians',
 'Kings XI Punjab']